.transaction-dialog {
  &__row {
    display: flex;
    flex-direction: row;

    &--col {
      justify-content: space-between;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
  }
}
