

<table class='buxy-table-transactions'>
  <thead class='buxy-table-transactions-thead'>
    <tr class='buxy-table-transactions-thead__tr'>
      <th class='buxy-table-transactions-thead__th'>ADD TAG</th>
      <th class='buxy-table-transactions-thead__th'>REMOVE TAG</th>
      <th class='buxy-table-transactions-thead__th'>EDIT TYPE</th>
      <th class='buxy-table-transactions-thead__th'>EDIT STATUS</th>
      <th class='buxy-table-transactions-thead__th'>EDIT ACCOUNT</th>
      <th class='buxy-table-transactions-thead__th'>COPY</th>
      <th class='buxy-table-transactions-thead__th'>PRINT</th>
      <th class='buxy-table-transactions-thead__th'>DELETE</th>
    </tr>
    <tr class='buxy-table-transactions-thead__tr'>
      <th class='buxy-table-transactions-thead__th'>DATE</th>
      <th class='buxy-table-transactions-thead__th'>AMOUNT</th>
      <th class='buxy-table-transactions-thead__th' colspan="4">DESCRIPTION</th>
      <th class='buxy-table-transactions-thead__th'>TAFS</th>
      <th class='buxy-table-transactions-thead__th'>ACCOUNT</th>
    </tr>
  </thead>
  <tbody class='buxy-table-transactions-tbody'>
    <tr class='buxy-table-transactions-tbody__tr'>
      <td class='buxy-table-transactions-tbody__td'>12 Mar</td>
      <td class='buxy-table-transactions-tbody__td'>+ 5,742.29</td>
      <td class='buxy-table-transactions-tbody__td' colspan="4">Google Paycheck</td>
      <td class='buxy-table-transactions-tbody__td'>Salary</td>
      <td class='buxy-table-transactions-tbody__td'>
        <span class='buxy-table-transactions-tbody__span'>BoA Checking</span>
        <div class='buxy-table-transactions-tbody__three-dots'></div>
      </td>
    </tr>
    <tr class='buxy-table-transactions-tbody__tr'>
      <td class='buxy-table-transactions-tbody__td'>9 Mar</td>
      <td class='buxy-table-transactions-tbody__td'>- 1,400.00</td>
      <td class='buxy-table-transactions-tbody__td' colspan="4">Rent</td>
      <td class='buxy-table-transactions-tbody__td'>Rent</td>
      <td class='buxy-table-transactions-tbody__td'>
        <span class='buxy-table-transactions-tbody__span'>Chase credit card</span>
        <div class='buxy-table-transactions-tbody__three-dots'></div>
      </td>
    </tr>
    <tr class='buxy-table-transactions-tbody__tr'>
      <td class='buxy-table-transactions-tbody__td'>25 Feb</td>
      <td class='buxy-table-transactions-tbody__td'>- 1,420.74</td>
      <td class='buxy-table-transactions-tbody__td' colspan="4">Birch Creek Apartments</td>
      <td class='buxy-table-transactions-tbody__td'>Rent</td>
      <td class='buxy-table-transactions-tbody__td'>
        <span class='buxy-table-transactions-tbody__span'>Amex Credit Card</span>
        <div class='buxy-table-transactions-tbody__three-dots'></div>
      </td>
    </tr>
  </tbody>
</table>
