.account-dialog {
  &__select-menu {
    top: inherit !important;
    left: inherit !important;
  }
  &__input-ripple-error,
  &__input-ripple-error.mdc-line-ripple {
    background-color: red;
  }
  &__balance-input-ripple-error,
  &__balance-input-ripple-error.mdc-line-ripple {
    background-color: red;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
  }

  &__type,
  &__currency {
    width: 100%;
  }
}
