<div class="button-more mdc-menu-anchor">
  <button class="button-more__more button-more mdc-button">
    <i
      class="button-more__more-icon  material-icons"
      title="More options">more_vert</i></button>
  <div class="mdc-menu menu" tabindex="-1">
    <ul class="button-more__popup-menu mdc-menu__items mdc-list" role="menu" aria-hidden="true">
      <li class="button-more__popup-item-edit mdc-list-item" role="menuitem" tabindex="0">
        Edit
      </li>
      <li class="button-more__popup-item-delete  mdc-list-item" role="menuitem" tabindex="0">
        Delete
      </li>
    </ul>
  </div>

</div>