<div class="account">
  <nav class="account__list  mdc-list--non-interactive">
    <a class="account__list-item mdc-list-item account__add-account-dialog-activation" href="#">
      <i class="account__icon material-icons mdc-list-item__graphic" aria-hidden="true">add</i>
      Add new account
    </a>
    <a class="account__list-item mdc-list-item" href="#">
      <i class="account__icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>Privat -
      $200

      <div class="account__more-button"></div>
    </a>
    <a class="account__list-item mdc-list-item" href="#">
      <i class="account__icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>Cash
      -
      UAH300
      <div class="account__more-button"></div>

    </a>
  </nav>
</div>