<aside class="add-tag-dialog mdc-dialog" role="alertdialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 class="mdc-dialog__header__title">
        Add tag
      </h2>
    </header>
    <section class="mdc-dialog__body">
      <div class="add-tag-dialog__tag mdc-text-field mdc-text-field--upgraded mdc-text-field--fullwidth">
        <input type="text" class="mdc-text-field__input" placeholder="Tag">
        <div class="mdc-line-ripple"></div>
      </div>
      <p class="mdc-text-field-helper-text" aria-hidden="true">Type tag name</p>
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">OK</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>