<aside class="add-tag-dialog mdc-dialog" role="alertdialog">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 class="mdc-dialog__header__title">
        Add tag
      </h2>
    </header>
    <section class="mdc-dialog__body">
      <div class="add-tag-dialog__tag mdc-text-field mdc-text-field--upgraded">
        <input type="text" class="mdc-text-field__input">
        <label class="mdc-floating-label">Tag</label>
        <div class="mdc-line-ripple"></div>
      </div>
    </section>
    <footer class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
    </footer>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
