<div class="table-transactions">
  <table class="table-transactions__table mdc-elevation--z2">
    <thead class="table-transactions__thead">
      <tr class="table-transactions__tr">
        <th class="table-transactions__th">Date</th>
        <th class="table-transactions__th">Amount</th>
        <th class="table-transactions__th">Description</th>
        <th class="table-transactions__th">Tag</th>
        <th class="table-transactions__th">Account</th>
      </tr>
    </thead>
    <tbody class="table-transaction__tbody">
    </tbody>
  </table>
  <div class="table-transactions__confirm-dialog"></div>
  <div class="table-transactions__edit-transaction-dialog"></div>
</div>