.transactions {
  padding: 15px 40px 15px 40px;

  &__block {
    &--hidden {
      display: none;
    }
  }

  &__empty-state {
    margin: 50px auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.26);
  }

  &__add-transaction-dialog-activation {
    position: fixed;
    right: 12px;
    bottom: 12px;
  }
}
