<div class="transactions mdc-layout-grid">
  <div class="transactions__content">
    <div class="mdc-layout-grid__inner">
      <div class="transactions__pie-chart mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-6"></div>
      <div class="transactions__bar-chart mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-6"></div>
    </div>
    <div class="transactions__table-transactions"></div>
  </div>
  <button class="mdc-fab material-icons transactions__add-transaction-dialog-activation" aria-label="Favorite">
    <span class="mdc-fab__icon">add</span>
  </button>
  <div class="transactions__empty-state mdc-typography mdc-typography--display2">
    <p>Firstly add accounts and tags.</p>
    <p>Then add your transactions</p>
  </div>
  <div class="transactions__add-transaction-dialog"></div>
</div>