<header class="toolbar mdc-toolbar mdc-elevation--z4">
  <div class="toolbar__container mdc-toolbar__row">
    <section class="toolbar__container-item mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="#" class="toolbar__menu material-icons mdc-toolbar__menu-icon">menu</a>
      <span class="toolbar__title mdc-toolbar__title">Buxy</span>
    </section>
    <section class="toolbar__container-item mdc-toolbar__section mdc-toolbar__section--align-end">
      <button class="toolbar__button mdc-button toolbar__about-dialog-activation">
        About
      </button>
    </section>
  </div>
</header>