<header class="mdc-toolbar mdc-elevation--z4">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="#" class="material-icons mdc-toolbar__menu-icon menu">menu</a>
      <span class="mdc-toolbar__title">Buxy</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <button class="mdc-button toolbar__button">
        Export
      </button>
      <button class="mdc-button toolbar__button">
        Import
      </button>
    </section>
  </div>
</header>
