<div class="app mdc-typography">
  <div class="app__drawer-point"></div>
  <div class="app__container">
    <div class="app__container-toolbar-point"></div>
    <div class="app__container-content mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="app__bar-chart mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-6"></div>
        <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-6"></div>
      </div>
      <button class="mdc-fab material-icons app__add-transaction-dialog-activation" aria-label="Favorite">
          <span class="mdc-fab__icon">add</span>
      </button>
    </div>
    <div class="app__add-transaction-dialog"></div>
    <div class="app__add-account-dialog"></div>
    <div class="app__add-tag-dialog"></div>
  </div>
</div>