.app {
  display: flex;
  min-height: 100vh;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-content {
      height: 100%;
      background-color: $color-primary;
    }
  }
}
