@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/dialog/mdc-dialog";
@import "@material/button/mdc-button";
@import "@material/form-field/mdc-form-field";
@import "@material/textfield/mdc-text-field";
@import "@material/radio/mdc-radio";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";

.add-transaction-dialog {
  &__select-menu {
    top: inherit !important;
    left: inherit !important;
  }

  &__row {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__col {
    padding: 0;
  }

  &__expence,
  &__income {
    margin: 10px;
  }

  &__account,
  &__tag {
    width: 100%;
  }
}
