.table-transactions {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
  text-align: left;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 30px;

  &__tr {
    height: 40px;
  }

  &__highlighted:hover {
    background-color: #f5f5f5;
  }

  &__th {
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }

  &__td {
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    font-size: 13px;
    color: #757575;
  }

  &__span {
    line-height: 35px;
  }

  &__button {
    position: relative;
    float: right;
    padding-left: 0;
    padding-right: 0;
    width: 24px;
    min-width: 0;
    height: 24px;
    margin-right: 5px;
    margin-top: 5px;
  }

  &__icon {
    position: absolute;
    top: -6px;
    right: -5px;
  }
}
