<table class="table-transactions mdc-elevation--z2">
  <thead class="table-transactions__thead">
    <tr class="table-transactions__tr">
      <th class="table-transactions__th">Date</th>
      <th class="table-transactions__th">Amount</th>
      <th class="table-transactions__th">Description</th>
      <th class="table-transactions__th">Tags</th>
      <th class="table-transactions__th">Account</th>
    </tr>
  </thead>
  <tbody class="table-transaction__tbody">
    <tr class="table-transactions__tr table-transactions__highlighted">
      <td class="table-transactions__td table-transactions__date">12 Mar</td>
      <td class="table-transactions__td table-transactions__amount">+ 5,742.29</td>
      <td class="table-transactions__td table-transactions__desc">Google Paycheck</td>
      <td class="table-transactions__td table-transactions__tag">Salary</td>
      <td class="table-transactions__td">
        <span class="table-transactions__span table-transactions__account">BoA Checking</span>
        <button class="table-transactions__button mdc-button">
          <i class="material-icons mdc-button__icon table-transactions__icon">more_vert</i>
        </button>
      </td>
    </tr>
    <tr class="table-transactions__tr table-transactions__highlighted">
      <td class="table-transactions__td table-transactions__date">9 Mar</td>
      <td class="table-transactions__td table-transactions__amount">- 1,400.00</td>
      <td class="table-transactions__td table-transactions__desc">Rent</td>
      <td class="table-transactions__td table-transactions__tag">Rent</td>
      <td class="table-transactions__td ">
        <span class="table-transactions__span table-transactions__account">Chase credit card</span>
        <button class="table-transactions__button mdc-button">
            <i class="material-icons mdc-button__icon table-transactions__icon">more_vert</i>
          </button>
      </td>
    </tr>
    <tr class="table-transactions__tr table-transactions__highlighted">
      <td class="table-transactions__td table-transactions__date">25 Feb</td>
      <td class="table-transactions__td table-transactions__amount">- 1,420.74</td>
      <td class="table-transactions__td table-transactions__desc">Birch Creek Apartments</td>
      <td class="table-transactions__td table-transactions__tag">Rent</td>
      <td class="table-transactions__td">
        <span class="table-transactions__span table-transactions__account">Amex cradi card</span>
        <button class="table-transactions__button mdc-button">
            <i class="material-icons mdc-button__icon table-transactions__icon">more_vert</i>
          </button>
      </td>
    </tr>
  </tbody>
</table>