.button-more {
  &__popup-right {
    margin-top: 26px;
    margin-left: 25px;
  }
  &__popup-left {
    margin-top: 26px;
    margin-right: 25px;
  }
  &__more {
    width: 24px;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    height: 24px;
  }
}
