<aside class="drawer mdc-drawer--open mdc-drawer--persistent mdc-typography">
  <nav class="mdc-drawer__drawer drawer__nav">
    <div class="drawer__group mdc-list-group">
      <nav class="drawer__list  mdc-list--non-interactive">
        <a class="drawer__list-item mdc-list-item drawer__add-account-dialog-activation" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">add</i>
          Add new account
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>Privat - $200

          <div class="drawer__more-button"></div>
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>Cash
          -
          UAH300
          <div class="drawer__more-button"></div>

        </a>
      </nav>
      <hr class="mdc-list-divider">
      <nav class="mdc-list--non-interactive">
        <a class="drawer__list-item mdc-list-item drawer__add-tag-dialog-activation" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">add</i>
          Add new tag
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">local_offer
          </i>Transport
          <div class="drawer__more-button"></div>

        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">local_offer
          </i>Groceries
          <div class="drawer__more-button"></div>
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__icon material-icons mdc-list-item__graphic" aria-hidden="true">local_offer
          </i>Entertainment
          <div class="drawer__more-button"></div>
        </a>
      </nav>
    </div>
  </nav>
  <div class="drawer__confirm-dialog"></div>
</aside>