<aside class="mdc-drawer--open mdc-drawer--persistent mdc-typography">
  <nav class="mdc-drawer__drawer">
    <div class="mdc-list-group">
      <nav class="drawer__list mdc-list">
        <a class="mdc-list-item drawer__list-item mdc-list-item--selected" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
      </nav>
        <hr class="mdc-list-divider">
      <nav class="mdc-list">
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
        <a class="mdc-list-item demo-drawer-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam
          <i
            class="material-icons drawer__list-item-more mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options"
            style="--mdc-ripple-fg-size:28.8px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</i>
        </a>
      </nav>
    </div>
  </nav>
  </nav>
</aside>
