@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.drawer {
  height: 100%;
  &__list-item {
    &-more {
      position: absolute;
      right: 5px;
      top: 13px;
    }
  }
}
