<aside class="drawer mdc-drawer--open mdc-drawer--persistent mdc-typography">
  <nav class="mdc-drawer__drawer">
    <div class="drawer__group mdc-list-group">
      <nav class="drawer__list mdc-list">
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">add</i>Add new
          account
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>Privat
          -
          $200
          <i
            class="drawer__list-item-more material-icons mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options">more_vert</i>
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>Cash
          -
          UAH300
          <i
            class="drawer__list-item-more material-icons mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options">more_vert</i>
        </a>
      </nav>
      <hr class="mdc-list-divider">
      <nav class="mdc-list">
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">add</i>Add new tag
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">local_offer
          </i>Transport
          <i
            class="drawer__list-item-more material-icons  mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options">more_vert</i>
        </a>
        <a class="drawer__list-item  mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">local_offer
          </i>Groceries
          <i
            class="drawer__list-item-more material-icons  mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options">more_vert</i>
        </a>
        <a class="drawer__list-item mdc-list-item" href="#">
          <i class="drawer__list-item-icon material-icons mdc-list-item__graphic" aria-hidden="true">local_offer
          </i>Entertainment
          <i
            class="drawer__list-item-more material-icons mdc-card__action mdc-card__action--icon mdc-ripple-surface mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
            tabindex="0" role="button" data-mdc-ripple-is-unbounded="" title="More options">more_vert</i>
        </a>
      </nav>
    </div>
  </nav>
</aside>
