<a class="accounts__list-item drawer-menu__list-item mdc-list-item" data-id="<%= account.id %>" href="#">
  <i class="accounts__icon material-icons mdc-list-item__graphic" aria-hidden="true">account_balance</i>
  <p class="accounts__list-item-name">
    <%= account.name %> &nbsp;
  </p>
  <p class="accounts__list-item-balance">
  <%=account.balance %>
  </p>
  <p class="accounts__list-item-currency">
  <%= account.currency %>
  </p>
  <div class="accounts__more-button drawer-menu__more-button"></div>
</a>